.fon {
    background-color: rgba(255, 255, 255, 0.4);
}
.btn-fon {
    background-color: rgba(56, 56, 56, 0.5);
    transition: .3s all;
}
.text-2xs {
    font-size: 8px;
}
.btn-fon:hover {
    background-color: rgba(56, 56, 56, 0.6);
}
.max-w-2xs {
    max-width: 280px;
}
.text-3xs {
    font-size: 10px;
}
.max-h-fulll {
    max-height: 70vh;
}