@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Calibri;
}
body {
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2 {
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}